# Blockchain RPC URLs
ETH_RPC_URL=https://eth.llamarpc.com
ARB_RPC_URL=https://arb1.arbitrum.io/rpc
OP_RPC_URL=https://mainnet.optimism.io
BASE_RPC_URL=https://mainnet.base.org
POLYGON_RPC_URL=https://polygon-rpc.com
ZKSYNC_RPC_URL=https://mainnet.era.zksync.io
LINEA_RPC_URL=https://rpc.linea.build
SCROLL_RPC_URL=https://rpc.scroll.io
STARKNET_RPC_URL=https://starknet-mainnet.g.alchemy.com/starknet/version/rpc/v0_7

# Block Explorer API Keys
ETHERSCAN_API_KEY=your_etherscan_api_key
ARBISCAN_API_KEY=your_arbiscan_api_key
OPTIMISTIC_ETHERSCAN_API_KEY=your_optimistic_etherscan_api_key
BASESCAN_API_KEY=your_basescan_api_key
POLYGONSCAN_API_KEY=your_polygonscan_api_key
ZKSYNC_API_KEY=your_zksync_api_key
LINEASCAN_API_KEY=your_lineascan_api_key
SCROLLSCAN_API_KEY=your_scrollscan_api_key